body {
    color: #3f3f3f;
}

#dying {
    width: 30px;
    height: 30px;
}

.navbar {
    background-color: maroon;
}

header {
    margin-top: 15px;
    margin-bottom: 30px;
    color:#3f3f3f;
}

#face {
    max-width: 100%;
    height: auto;
    border-color: maroon;
}

#face-div {
    margin-bottom: 30px;
}

#bio {
    font-size: x-large;
    color: maroon;
}

#contact {
    padding-left: 15px;
    font-size: x-large;
    background-color: maroon;
}

address a {
    color: white;
}

address hr {
    background-color: white;
}

#truck-pics {
    max-width: 100%;
    max-height: 400px;
    display: inline;
    border-color: maroon;
}

#arrows {
    font-size: 3em;
}

i {
    color: maroon;
}

#specs {
    margin-top: 30px;
}

#specs-card {
    text-align: center;
}

.card-header {
    background-color: maroon;
    color: white;
}

.card-body {
    font-size: x-large;
}

.screencap {
    max-width: 100%;
    height: auto;
    border-color: maroon;
}

.project-info {
    margin-bottom: 30px;
}

#resume-img {
    max-width: 100%;
    max-height: 500px;
}