.jumbotron {
    background-color: midnightblue;
    color: white;
}

.employee-card {
    margin: 0 15px;
}

.card-header {
    background-color: midnightblue;
    color: white;
    text-align: center;
}